In [ ]:
import pandas as pd
import numpy as np

# Part 1: authority.xlsx

In [ ]:
f = '.../authority.xlsx'
# Replace 'YOUR_FILE_PATH' as the path to the authority.xlsx file

# Do not delete the code below
authority = pd.read_excel(f)
print(authority.shape)
print(authority.dtypes)
authority.head()

(19593, 3)
Author ID               object
PMID                     int64
Author name position     int64
dtype: object

    Author ID      PMID  Author name position
0   2529817_3  11093076                     4
1   1351322_3  25362489                     7
2  18245040_4  28798343                     5
3   5065940_1   9576827                     4
4  28231033_3  29559099                     3

In [ ]:
# 1. How many unique author IDs are in the file?
19473
# Your code for anwsering the question:
print(authority['Author ID'].nunique())

19473

In [ ]:
# 2. How many authors are there in each paper?

# Your code for anwsering the question:
# Your code for step 1:
author_counts_1 = authority.groupby(['PMID'])[['Author ID']].count()

# Your code for step 2:
author_counts_1 = author_counts_1.reset_index()
# Your code for step 3:
author_counts_1 = author_counts_1.rename(columns={'Author ID':'author_counts_authority'})

# Your code for step 4:
author_counts_1 = author_counts_1.sort_values(by=['author_counts_authority'], ascending=False)

# Your code for step 5:
author_counts_1.head()

          PMID  author_counts_authority
2986  17501563                      163
3718  21983444                       31
4815  29442540                       29
2721  15994562                       27
3186  18786894                       23

In [ ]:
# 3.How many papers have more than five authors?
1156
# Your code for anwsering the question:
author_counts_2 = author_counts_1.loc[author_counts_1['author_counts_authority']>5]
author_counts_2.shape

(1156, 2)

# Part 2: icite.xlsx

In [ ]:
f = '...../icite.xlsx'
# Replace 'YOUR_FILE_PATH' as the path to the icite.xlsx file

# Do not delete the code below
icite = pd.read_excel(f)
icite = icite.rename(columns={'pmid':'PMID'})
print(icite.shape)
print(icite.dtypes)
icite.head()

(5000, 10)
PMID                             int64
year                             int64
authors                         object
journal                         object
is_research_article             object
citation_count                   int64
citations_per_year             float64
expected_citations_per_year    float64
cited_by                        object
doi                             object
dtype: object

,PMID,year,authors,journal,is_research_article,citation_count,citations_per_year,expected_citations_per_year,cited_by,doi
0,10009783,1994,Rodriguez,Phys Rev B Condens Matter,Yes,5,0.178571,0.830972,10056855|15783988|9982903|28837054|9979235,10.1103/physrevb.49.9831
1,10009800,1994,Cui|Li|Huang,Phys Rev B Condens Matter,Yes,2,0.071429,0.989966,16834417|19062186,10.1103/physrevb.49.9962
2,1005199,1976,A Jedrzejewska-Iwanowska|M Dowgia≈Ç≈Ço,Pol Tyg Lek,Yes,4,0.086957,NaN,12296654|10505022|7299467|11585373,NaN
3,10066046,1998,J Lindberg|J Prag|H C Sch√∏nheyder,Scand J Infect Dis,Yes,26,1.083333,1.298274,16375700|12839159|18854681|27021424|16012000|1...,10.1080/00365549850161458
4,10068902,1998,E Mu√±oz|M T Corcuera|M Rold√°n|F G√≥mez|A Pic...,Eur J Histochem,Yes,6,0.250000,1.014810,20302585|29543326|15322033|30576975|21952704|2...,NaN

In [ ]:
# 1.How many papers were published between 2000 and 2010?
1310
# Your code for anwsering the question:
# Your code for step 1:
filter_1 = icite['year'] >= 2000
filter_2 = icite['year'] <= 2010
in_year_range = icite.loc[(filter_1)&(filter_2)]

# Your code for step 2:
in_year_range.shape

(1310, 10)

In [ ]:
# 2. How many papers are research articles? How many are not?
# 4286 are research articles. 714 are not.
# Your code for anwsering the question:
grouping_result = icite.groupby(['is_research_article'])[['PMID']].count()
grouping_result

                     PMID
is_research_article
No                    714
Yes                  4286

In [ ]:
# 3. How many papers have a DOI? 3556

# Your code for anwsering the question:
# Your code for step 1:
papers_with_doi = icite[~pd.isnull(icite['doi'])]
# Your code for step 2:
papers_with_doi.shape

(3556, 10)

In [ ]:
# 4. What are the minimum, maximum, mean, and median of the citation counts?
# minimum: 0.000000, maximum: 1923.000000, mean: 23.713400, median = 7.000000
# Your code for anwsering the question:
icite.describe()

,PMID,year,citation_count,citations_per_year,expected_citations_per_year
count,5.000000e+03,5000.000000,5000.000000,5000.000000,3631.000000
mean,1.496749e+07,1995.807200,23.713400,1.736440,1.855709
std,8.641031e+06,19.747719,69.618531,8.801711,1.012826
min,8.952000e+03,1851.000000,0.000000,0.000000,0.070078
25%,7.622524e+06,1985.000000,1.000000,0.034483,1.115908
50%,1.476940e+07,2002.000000,7.000000,0.394644,1.797669
75%,2.219993e+07,2011.000000,22.000000,1.540210,2.417581
max,3.054266e+07,2020.000000,1923.000000,448.250000,9.121485

In [ ]:
# 5. How many authors are there in each paper?

# Your code for anwsering the question:
icite['authors_splitted'] = icite['authors'].str.split('|')
icite['author_counts_icite'] = icite['authors_splitted'].str.len()
icite.head()

,PMID,year,authors,journal,is_research_article,citation_count,citations_per_year,expected_citations_per_year,cited_by,doi,authors_splitted,author_counts_icite
0,10009783,1994,Rodriguez,Phys Rev B Condens Matter,Yes,5,0.178571,0.830972,10056855|15783988|9982903|28837054|9979235,10.1103/physrevb.49.9831,[Rodriguez],1
1,10009800,1994,Cui|Li|Huang,Phys Rev B Condens Matter,Yes,2,0.071429,0.989966,16834417|19062186,10.1103/physrevb.49.9962,"[Cui, Li, Huang]",3
2,1005199,1976,A Jedrzejewska-Iwanowska|M Dowgia≈Ç≈Ço,Pol Tyg Lek,Yes,4,0.086957,NaN,12296654|10505022|7299467|11585373,NaN,"[A Jedrzejewska-Iwanowska, M Dowgia≈Ç≈Ço]",2
3,10066046,1998,J Lindberg|J Prag|H C Sch√∏nheyder,Scand J Infect Dis,Yes,26,1.083333,1.298274,16375700|12839159|18854681|27021424|16012000|1...,10.1080/00365549850161458,"[J Lindberg, J Prag, H C Sch√∏nheyder]",3
4,10068902,1998,E Mu√±oz|M T Corcuera|M Rold√°n|F G√≥mez|A Pic...,Eur J Histochem,Yes,6,0.250000,1.014810,20302585|29543326|15322033|30576975|21952704|2...,NaN,"[E Mu√±oz, M T Corcuera, M Rold√°n, F G√≥mez, ...",7

# Part 3: Merging dataframes

In [ ]:
# 0. Prepare a table for merging

# Your code for anwsering the question:
selected_cols =['PMID', 'author_counts_icite']
icite_selected = icite[selected_cols]

In [ ]:
# 1. Merge the prepared table with the author_counts_1 dataframe

# Your code for anwsering the question:
# Your code for step 1:
merged_df = icite_selected.merge(author_counts_1)

# Your code for step 2:
merged_df = icite_selected.merge(author_counts_1.rename(columns={'author_counts_authority':'author_counts_authority_lookup'}))

# Your code for step 3:
merged_df.shape

# Your code for step 4:
merged_df

          PMID  author_counts_icite  author_counts_authority_lookup
0     10009783                    1                               1
1     10009800                    3                               3
2      1005199                    2                               2
3     10066046                    3                               3
4     10068902                    7                               7
...        ...                  ...                             ...
4995   9875827                    1                               1
4996   9894621                   12                              12
4997   9913879                    1                               1
4998    991449                    2                               2
4999   9960939                    3                               3

[5000 rows x 3 columns]

In [ ]:
# 2. Subtract author_counts_authority_lookup from author_counts_icite, and put the results into a new column,
#    author_counts_diff. How many values in the author_counts_diff column are not equal to zero? 0

# Your code for anwsering the question:
# Your code for step 1:
merged_df['author_counts_diff'] = merged_df['author_counts_authority_lookup'] - merged_df['author_counts_icite']

# Your code for step 2:
merged_df['author_counts_diff'] != 0

0       False
1       False
2       False
3       False
4       False
        ...
4995    False
4996    False
4997    False
4998    False
4999    False
Name: author_counts_diff, Length: 5000, dtype: bool